/*.custom-col-md-3{
    flex: 0 0 18.5%;
    max-width: 18.5%;
}
@media only screen and (max-width: 768px){
    .custom-sm{
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 20px;
    }
}

@media screen and (min-width:770px) and (max-width:990px){
    .custom-slider{
        flex: 0 0 60%;
        max-width: 60%;
    }
    .custom-images1{
        flex: 0 0 23%;
        max-width: 23%;
    }
    .custom-images2{
        flex: 0 0 17%;
        max-width: 17%;
    }
}*/
.custom-height-fit-content{
    height: fit-content !important;
}